[workspace]
members = [
    "core",
    "wrappers",
    "utils/trie_db",
    "utils/slot_db",
]
resolver = "3"

[workspace.dependencies]
ruc = "9.0.0"
thiserror = "2.0"

rand = "0.9.2"
parking_lot = "0.12.1"

serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.87" }
msgpack = { package = "rmp-serde", version = "1.1.1" }
serde_cbor_2 = "0.13.0"
sha3 = "0.10"

threadpool = "1.8.1" # used in a background cleaner

rocksdb = { version = "0.24.0", default-features = false, features = ["bindgen-runtime"] }
libmdbx = { version = "0.6.6" }

vsdb = { path = "wrappers", version = "8.0.0", default-features = false }
vsdb_core = { path = "core", version = "8.0.0", default-features = false }

vsdb_trie_db = { path = "utils/trie_db", version = "8.0.0", default-features = false }
