[package]
name = "vsdb"
version = "0.56.1"
authors = ["hui.fan@mail.ru"]
edition = "2021"
description = "A stuctured DB with some 'Git-like' features, mainly used in blockchain projects."
homepage = "https://github.com/rust-util-collections/vsdb"
repository = "https://github.com/rust-util-collections/vsdb/tree/master/wrappers"
keywords = ["git", "leveldb", "rocksdb", "version", "vcs"]
categories = ["database-implementations", "data-structures", "algorithms", "caching"]
license = "GPL-3.0"

[package.metadata.docs.rs]
features = ["vs", "extra_types"]

[dependencies]
serde = { workspace = true }
once_cell = { workspace = true }
parking_lot = { workspace = true }

bcs = { workspace = true, optional = true }
rmp-serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }

ruc = { workspace = true }
vsdb_core = { workspace = true }

[dev-dependencies]
hex = "0.4.3"
criterion = "0.4.0"
rand = "0.8.5"

[features]
default = ["rocks_engine", "compress", "bcs_codec"]

vs = ["vsdb_core/vs", "ruc/crypto"]

compress = ["vsdb_core/compress"]

sled_engine = ["vsdb_core/sled_engine"]
rocks_engine = ["vsdb_core/rocks_engine"]

sled_compress = ["vsdb_core/sled_compress"]
rocks_compress = ["vsdb_core/rocks_compress"]

serde_ende = []
bcs_codec = ["serde_ende", "bcs"]
json_codec = ["serde_ende", "serde_json"]
msgpack_codec = ["serde_ende", "rmp-serde"]

extra_types = ["vsdb_core/extra_types"]

[[bench]]
name = "basic"
harness = false

[[bench]]
name = "versioned"
harness = false

[[example]]
name = "derive_vs"

[[example]]
name = "web_server"

[[example]]
name = "blockchain_state"
