[package]
name = "vsdb_core"
version = "3.2.0"
authors = ["hui.fan@mail.ru"]
edition = "2021"
description = "A std-collection-like database"
homepage = "https://github.com/rust-util-collections/vsdb"
repository = "https://github.com/rust-util-collections/vsdb/tree/master/core"
keywords = ["kv", "leveldb", "rocksdb", "std"]
categories = ["database-implementations", "data-structures", "algorithms", "caching"]
license = "GPL-3.0"

[dependencies]
ruc = { workspace = true }
serde = { workspace = true }
rand = { workspace = true }
parking_lot = { workspace = true }

threadpool = { workspace = true } # used in a background cleaner

parity-db = { workspace = true, optional = true }
rocksdb = { workspace = true, optional = true }

sled-db= { workspace = true, optional = true }
[dev-dependencies]
msgpack = { workspace = true }
hex = "0.4.3"
criterion = "0.5.1"

[features]
default = [ "sled_backend","compress"]

parity_backend = ["parity-db"]
rocks_backend = ["rocksdb"]
sled_backend = ["sled-db"]
compress = ["rocksdb?/zstd"]

# [[bench]]
# name = "basic"
# harness = false
