[package]
name = "vsdb_core"
version = "6.0.0"
authors = ["hui.fan@mail.ru"]
edition = "2024"
description = "A std-collection-like database"
homepage = "https://github.com/rust-util-collections/vsdb"
repository = "https://github.com/rust-util-collections/vsdb/tree/master/core"
keywords = ["kv", "leveldb", "rocksdb", "std"]
categories = ["database-implementations", "data-structures", "algorithms", "caching"]
license = "GPL-3.0"

[dependencies]
ruc = { workspace = true }
serde = { workspace = true }
rand = { workspace = true }
parking_lot = { workspace = true }

threadpool = { workspace = true } # used in a background cleaner

parity-db = { workspace = true, optional = true }
rocksdb = { workspace = true, optional = true }

[dev-dependencies]
msgpack = { workspace = true }
hex = "0.4"
criterion = "0.8"

[features]
default = ["compress", "parity_backend"]

parity_backend = ["parity-db"]
rocks_backend = ["rocksdb"]

compress = ["rocksdb?/zstd"]

# [[bench]]
# name = "basic"
# harness = false
