[package]
name = "vsdb_trie_db"
version = "6.0.1"
edition = "2024"
keywords = ["mpt", "trie", "database", "blockchain"]
license = "MIT"
authors = ["hui.fan@mail.ru"]
description = "A lightweight, production-grade Merkle Patricia Trie (MPT) implementation for vsdb"
homepage = "https://github.com/rust-util-collections/vsdb"
repository = "https://github.com/rust-util-collections/vsdb"

[dependencies]
serde = { workspace = true }
ruc = { workspace = true }
vsdb = { workspace = true }

sha3 = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
rand = { workspace = true }

[features]
default = ["parity_backend", "msgpack_codec"]
parity_backend = ["vsdb/parity_backend"]
rocks_backend = ["vsdb/rocks_backend"]
msgpack_codec = ["vsdb/msgpack_codec"]
